* {
    top: 0;
    margin: 0;
    padding: 0;
}


.main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4e3c3;
}

header {
    background-color: #71bb6d;
    height: 10vh;
}   

h1 {
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0f300e;
}

.container {
    margin-top: 5px;
    background-color: #daebd9;
}   

table {
    border-collapse: collapse;
    width: 100%;
    padding: 100px 50px;
}

th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0e290d;
    text-align: center;
    font-size: 25px;
    padding: 2%;
}

th, td {
    border: 2px solid #0f300e;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0c250b;
    font-weight: 1000;
    font-size: 20px;
}

input {
    width: 440px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}
input[type="number"] {
    border: none;
    color: #0f300e;
    font-weight: bold;
    font-size: 20px;
}

input[type="text"] {
    color: #0f300e;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

input::placeholder {
    color: #6c7e6b;
    font-weight: 100;
}

